.HomeText{
    font-size: 170%;
    width: 20px;
    height: 10px;
    position: relative;
    top: 350px;
    left: 130px;
    color:#B31312;
    
}

.MainContainer{
    background-image: url(./image/pokeEditedlast_preview_rev_2.png);
    margin-top: 60px;
    width:1023px;
    height: 575px;
    position: relative;
    left: 185px;
    border-radius: 2ch;
    
}

.ButtonContainer{
    position: relative;
    top: 410px;
    right: 30px;
}
.ButtonStarted{
    background-color: #f0051c;
    border-radius: 1ch;
    width: 100px;
    height: 40px;
}


.ButtonStarted:hover{
    box-shadow: 11px 22px 21px -8px rgba(240, 5, 28);
}


 @media only screen and (min-width: 600px) {
     
    .mini{
        position: relative;
        display: none;

        bottom: 500px;
    }
  }

 @media only screen and (max-width: 600px) {
     
  
    .MainContainer{
        /* background-image: url(./image/pokeEditedlast_preview_rev_2.png); */
        margin-top: 60px;
        width:0px;
        height: 175px;
        position: relative;
        left: 185px;
        border-radius: 2ch;
    }

    .mini{
        position: relative;
        top: 40px;
        left: 16px;
    }
  }

  .darkmode{
    position: relative;
    bottom: 140px;
    right: 149px;

  }

  .textdarkmode{
    position: relative;
    left: -10px;
  }


  
 @media only screen and (max-width: 320px) {
     
  
    .MainContainer{
        /* background-image: url(./image/pokeEditedlast_preview_rev_2.png); */
        margin-top: 60px;
        width:0px;
        height: 175px;
        position: relative;
        left: 185px;
        border-radius: 2ch;
    }

    .mini{
        position: relative;
        top: 40px;
        left: 12px;
        width: 270px;
      
    }

    .ButtonContainer{
        position: relative;
        top: -138px;
        right: 90px;
        
    }

    .ButtonStarted{
        background-color: #f0051c;
        border-radius: 1ch;
        width: 78px;
        height: 30px;
        font-size: 12px;
    }

    .ButtonStarted:hover{
        box-shadow: 11px 22px 21px -8px rgba(240, 5, 28);
    }
    
    
    .HomeText{
        font-size: 70%;
        width: 100px;
        height: 10px;
        position: relative;
        top: -110px;
        left: -160px;
        color:#B31312;
        
    }
    
    .darkmode{
        position: relative;
        bottom: 140px;
        right: 149px;
        bottom:350px;
       
      }
      .btndark{
        width: 5px;
        height: 0px;
        position: relative;
        left: 70px;
        size: 10px;
      }
    
      .textdarkmode{
        position: relative;
        left: 150px;
        width: 100px;
        font-size: 13px;
        top:20px
      }

    
  }

  